0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   * `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.flex.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex.start {
  justify-items: start;
}

.flex.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: right;
}

.flex.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", arial, sans-serif;
}

main,
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #161616;
  min-height: 100%;
  height: auto;
}

.boxed {
  position: relative;
  margin: 0px auto;
  left: 0;
  right: 0;
  max-width: 1100px;
  height: auto;
}

.full-width {
  position: relative;
  background-color: #000000;
}

.mobile-ads {
  display: none;
  width: 100%;
  height: 180px;
  background: green;
}

.ads {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  height: 600px;
  width: 300px;
  background: green;
}

.ads-left {
  left: 40px;
  background: url("assets/imgweb-hosting-300x600-1672822550994.png");
}

.ads-right {
  right: 40px;
}

a {
  color: lightgrey;
}

p {
  color: grey;
}

h2 {
  color: lightgrey;
  text-decoration: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #25a9d4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header {
  position: relative;
  padding: 80px 40px;
  width: 100%;
}

.header .branding {
  position: relative;
  width: 100%;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .branding .logo {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
  color: lightgrey;
  border-color: lightgrey;
}

.header .menu {
  top: 40px;
}

@media (max-width: 1200px) {
  .header .menu {
    display: none;
  }
  .header .menu.visible {
    display: block;
  }
}

@media (max-width: 1200px) {
  .header .menu .menu-content {
    border-top: 1px solid rgba(255, 255, 255, 0.02);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 0px;
  }
}

.header .menu .menu-item {
  position: relative;
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 1200px) {
  .header .menu .menu-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    padding: 20px;
  }
}

.header .menu .menu-item:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  width: 0%;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .menu .menu-item:hover:after {
  width: 100%;
}

@media (max-width: 1200px) {
  .header .menu .menu-item:hover:after {
    width: 20%;
  }
}

.header .menu .menu-item.active:after {
  width: 100%;
}

@media (max-width: 1200px) {
  .header .menu .menu-item.active:after {
    width: 0px;
  }
}

.header .menu .menu-item a {
  text-decoration: none;
}

#menu-mobile {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 40px;
}

@media (max-width: 1200px) {
  #menu-mobile {
    display: block;
  }
}

#menu-mobile::after {
  display: block;
  content: '\2630';
  font-size: 28px;
  color: #fff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: right;
}

.banner {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 40px;
  display: block;
  margin-bottom: 40px;
  background-image: url("./assets/rosette.webp");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #000000;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
}

.banner .welcome {
  position: absolute;
  right: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
}

.title {
  padding-top: 40px;
}

@media (max-width: 1200px) {
  .title {
    display: block;
    padding: 0px 80px;
    padding-top: 20px;
  }
}

/* Base style for the square container - essential for flex wrapping and height matching */
.square {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0px;
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* Ensure all items in a row stretch to the height of the tallest item */
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 1200px) {
  .square {
    display: block;
    padding: 0px 80px;
  }
}

/* Base style for the square content item */
.square .square-item {
  color: lightgrey;
  height: auto; /* REMOVED FIXED HEIGHT to allow flex stretch */
  min-height: 300px; /* Ensures minimum size for the image/text blocks */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  background: black;
  overflow: hidden; 
}

@media (max-width: 1200px) {
  .square .square-item {
    height: auto;
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Alternating content direction */
.square .square-item:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .square .square-item:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Image/Video Block Styling (for items in 3-column section) */
.square .square-item .thumbnail {
  display: block;
  width: 40%; 
  min-width: 40%; 
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 1200px) {
  .square .square-item .thumbnail {
    height: 300px;
    width: 100%; 
    min-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

/* Text Block Styling (for items in 3-column section) */
.square .square-item .description {
  padding: 40px 30px;
  height: 100%;
  width: 0%;
  min-width: 40%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  /* Allows text to scroll if it exceeds the height determined by the tallest element in the row */
  overflow-y: auto;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-size: cover;
}

@media (max-width: 1200px) {
  .gallery {
    height: auto;
    margin-bottom: 40px;
  }
}

.gallery-item {
  width: 20%;
  height: 200px;
  display: block;
  background: black;
  background-position: center center;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
}

@media (max-width: 1200px) {
  .gallery-item {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */


/* --- FINAL LAYOUT AND COLUMN OVERRIDES --- */

/* 1. Define the exact widths for the 3-column section (About Me) */
.square-3-col .square-item {
    /* Set width to ensure three columns with 40px gap */
    width: calc((100% - 80px) / 1) !important;
    height: auto !important; /* FIX: Use auto height to allow flexbox stretching */
    min-height: 300px !important;
    /* Ensure the content inside (image/text) is a horizontal row */
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

/* 2. Define the exact widths for the 4-column video section */
.square-4-col .square-item {
    /* Set width to ensure four columns with 40px gap */
    width: calc((100% - 120px) / 4) !important; 
    /*height: 380px !important;*/ /* Fixed height is fine for stacked video blocks */
    /* Ensure the content inside (video/text) is a vertical stack */
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
}

/* 3. Ensure the video elements fill their space correctly in the 4-column blocks */
.square-4-col .square-item iframe {
    width: 100%;
    height: 200px; 
}
.square-4-col .square-item .description {
    /* Reset for video blocks: allow description to grow */
    width: 100%;
    height: auto;
    overflow-y: hidden;
    padding: 20px; /* Add some padding back to the video description */
}

/* 4. Mobile Override (back to 100% width and vertical stacking) */
@media (max-width: 1200px) {
  .square-3-col .square-item,
  .square-4-col .square-item {
    width: 100% !important; 
    margin-bottom: 20px !important;
    height: auto !important; 
    /* Force all squares to stack content vertically on mobile */
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  
  /* Reset the row-reverse order on mobile, as items should always be column stacked */
  .square .square-item:nth-of-type(even) {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  
  /* Ensure iframe is responsive on mobile */
  .square-4-col .square-item iframe {
    height: auto; 
  }
  
  /* Restore original image/text widths on mobile */
  .square .square-item .thumbnail,
  .square .square-item .description {
    width: 100%;
    min-width: 100%;
  }
}
